html, body {
    margin: 0;
    padding: 0;

    height: 100%;
    background-color: transparent;
}

div.image-box{
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        text-align: center;



        height: 100%;
        width: auto;
}

img {
    object-fit: contain;

    height: 100%;
    width: auto;

    max-height: 100%;
    max-width: 100%;

    padding: 0;

    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    color: transparent;
  }

.left {
    left: 0;
    width: 40%;
}

.right {
    right: 0;
    width: 60%;
}