:root {
    --bg-color: rgb(43, 43, 43);
    --text-color: #dadada;
    --secondary-text-color: #808080;
    --border-color: #cccccc;
}



html, body {
    margin: 0;
    padding: 0;

    height: 100%;
    background-color: transparent;
    overflow: hidden;
}

p {
    font-display: fallback;
}


/*Scroll bar*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #444444;
}

::-webkit-scrollbar-thumb {
    background: #666666;
}

::-webkit-scrollbar-thumb:hover {
    background: #575757;
}



/*For pages (ie. 001.html, 002.html etc.)*/
div.image-box{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 0;

        height: 100%;
        width: auto;
}

img {
    position: relative;
    z-index: 10;
    object-fit: contain;
    display: inline-block;
    height: 100%;
    width: auto;

    max-height: 100%;
    max-width: 100%;

    padding: 0;

    image-rendering: high-quality;  /*https://developer.mozilla.org/en-US/docs/Web/CSS/image-rendering*/
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    color: transparent;
    width: 50%;
  }



.left {
    left: 0;
    
}

.right {
    right: 0;
}


.PageTurningButton {
    background-color: green;
    border: none;
    z-index: 3;
    opacity: 0.2;

}





/*
Logic:

if (user clicked the button) {
    show the menu
    opened = 1
}

if (opened == 1 && user clicked the button) {
    close the menu
    opened = 0;
} 

*/

