body {
    background-color: black; 
    margin-left: 50px;
    margin-top: 50px;
  }
  

p {
    color: white;
    font-family: "Helvetica";
    font-size: 1.35rem;
  }
  
a.link {
    padding: 6px 8px; 
    background-color: #696969;
    color: rgb(240, 242, 252);
    text-decoration: none;
    border-radius: 5px;
    font-family: "Noto Sans", "Helvetica";
    margin-bottom: 2rem;
    font-size: 20px;
    width: 10rem;
    text-align: center;
    display: block;
  }
  
td {
    padding-right: 10px;
}
  


@media screen and (max-width: 650px) {
  body {
    width: 80%;
    margin: 20px 0 0 20px;
  }

  a.link {
    font-size: 1rem;
    width: 8rem;
    padding: 10px 8px;
  }
}





  
@font-face {
  /*Johnston*/
     font-family: "Johnston";
     src: url("../lib/font/P22 Johnston Underground Regular.ttf");
  }
  
@font-face {
  /*Helvetica*/
     font-family: "Helvetica";
     src: url("../lib/font/Helvetica.ttf");
  }